<style>
    .navbar a{
        text-decoration: none;
        color: white;
    }
</style>

<div class="navbar"
    style="display: flex; justify-content: space-evenly; background-color: #545C42; height: 40px; align-items: center; text-decoration: none; color: white;">

    <div style="color: #D99880;"><strong>LUNITA ♥</strong></div>
    <div style="display: flex; width: 300px; justify-content: space-evenly;">
        <a href="">Inicio</a>
        <a href="/login">Registro/Login</a>
        <a href="/clientes">Clientes</a>
    </div>

</div>