<style>
    .login label{
        display: flex;
        flex-direction: column;
    }

    .login input{
        padding: 5px;
    }
</style>
<div style="width: 100vw; height: 100vh; display: flex; justify-content:center; align-items: center;" class="login">
    <div style="display: flex; width: 700px; height: 400px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-evenly;
    background-color: #AFDA8C;">

        <div style="display: flex; flex-direction: column; width: 70%; justify-content: center; align-items: center;">
        
            <h1>BIENVENIDO</h1>

            <form action="" method="">
                <label for="mail">
                    E-mail:
                    <input type="email" name="mail" id="mail">
                </label>

                <label for="password">
                    Password:
                    <input type="password" name="password" id="password">
                </label>
                <button type="submit" style="margin-top: 10px; background-color: #ABB1D9; border: solid 1px; padding: 5px;">Enviar</button>
            </form>

        </div>
        <div style="width: 30%; height: 100%;"><img src="../../../assets/lnd.jpeg" width="300px" height="400px" alt=""></div>

    </div>
</div>